@model ApplicazioneSpedizioni_core_DbEntity.Models.Utente

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Utente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipoUtente" class="control-label"></label>
                <select id="selectList" asp-for="TipoUtente" class="form-control">
                    <option value="">Seleziona il tipo di utente</option>
                    <option value="privato">privato</option>
                    <option value="azienda">azienda</option>
                    <!-- Aggiungi altre opzioni qui -->
                </select>
                <span asp-validation-for="TipoUtente" class="text-danger"></span>
            </div>
            <div id="divPartita_Iva" class="form-group">
                <label asp-for="PartitaIva" class="control-label"></label>
                <input asp-for="PartitaIva" class="form-control" />
                <span asp-validation-for="PartitaIva" class="text-danger"></span>
            </div>
            <div id="divCodice_fiscale" class="form-group">
                <label asp-for="CodiceFiscale" class="control-label"></label>
                <input asp-for="CodiceFiscale" class="form-control" />
                <span asp-validation-for="CodiceFiscale" class="text-danger"></span>
            </div>
            <div class="form-group form-check invisible">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Attivo" /> @Html.DisplayNameFor(model => model.Attivo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            myfunc();
            $("#selectList").change(myfunc);
        })

        const myfunc = () => {
            if ($("#selectList").val() == "privato") {
                $("#divPartita_Iva").hide();
                $("#divCodice_fiscale").show();
            }

            if ($("#selectList").val() == "azienda") {
                $("#divPartita_Iva").show();
                $("#divCodice_fiscale").hide();
            }
        }
    </script>
 
}
