@model ApplicazioneSpedizioni_core_DbEntity.Models.Spedizioni

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Spedizioni</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            
         <input asp-for="CurrentAction" type="hidden"/>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdSpedizione" />

            <div class="form-group">
                @*   <label asp-for="NumeroIdentificativo" class="control-label"></label> *@
                <input asp-for="IdUtente" class="form-control" />
                <span asp-validation-for="IdUtente" class="text-danger"></span>
            </div>


            <div class="form-group">
              @*   <label asp-for="NumeroIdentificativo" class="control-label"></label> *@
                <input asp-for="NumeroIdentificativo" type="hidden" class="form-control" />
                <span asp-validation-for="NumeroIdentificativo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataSpedizione" class="control-label"></label>
                <input asp-for="DataSpedizione" type="date" class="form-control" />
                <span asp-validation-for="DataSpedizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cittaDiDestinazione" class="control-label"></label>
                <input asp-for="cittaDiDestinazione" class="form-control" />
                <span asp-validation-for="cittaDiDestinazione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IndirizzoDestinatario" class="control-label"></label>
                <input asp-for="IndirizzoDestinatario" class="form-control" />
                <span asp-validation-for="IndirizzoDestinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeDestinatario" class="control-label"></label>
                <input asp-for="NomeDestinatario" class="form-control" />
                <span asp-validation-for="NomeDestinatario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostoSpedizione" class="control-label"></label>
                <input asp-for="CostoSpedizione" class="form-control" />
                <span asp-validation-for="CostoSpedizione" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataConsegnaPrevista" class="control-label"></label>
                <input type="date" asp-for="DataConsegnaPrevista" class="form-control" />
                <span asp-validation-for="DataConsegnaPrevista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

